body {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.clock {
    position: absolute;
    background-color: rgb(255, 208, 0);
    border-radius: 50%;
    width: 33rem;
    height: 33rem;
    z-index: 1;
}

.clock-face {
    background-color: white;
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    position: relative;
    margin: 1.5rem;
    z-index: 2;
}

.hour-hand {
    background-color: red;
    position: absolute;
    width: 1.2rem;
    height: 15rem;
    left: 50%;
    z-index: 3;
    transform-origin: 0.6rem 15rem;
}

.minute-hand {
    background-color: green;
    position: absolute;
    width: 1.2rem;
    height: 16rem;
    left: 50%;
    z-index: 3;
    transform-origin: 0.6rem 15rem;
}

.second-hand {
    background-color: blue;
    position: absolute;
    width: 1.2rem;
    height: 16rem;
    left: 50%;
    z-index: 3;
    transform-origin: 0.6rem 15rem;
}