html {
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 10px rgb(0, 181, 253),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px rgb(0, 181, 253),
        0 0 10px rgba(0,0,0,0.2);
}

.clock-center {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    box-shadow:
        0 0 10px rgb(0, 181, 253),
        inset 0 0 0 3px #EFEFEF,
        0 0 10px rgba(0,0,0,0.2);
    z-index: 1;
}

.clock-face {
    width: 100%;
    height: 100%;
    position: relative;
}

.hand {
    background-color: white;
    border-radius: 3.2rem;
    width: 50%;
    height: 1.2rem;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    box-shadow:
        0 0 10px rgb(0, 181, 253),
        inset 0 0 0 3px #EFEFEF;
}