.row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    border-style: solid;
    margin: 1rem;
    min-width: 8%;
    padding: 1rem;
    text-align: center;
    transition: all .08s ease;
}

.playing {
    box-shadow: 0px 0px 27px 5px rgba(0,238,255,1);
    transform: scale(1.2);
}